<div>
  <div class="banner-content" style="border-radius: 20px;background-color: rgba(255, 255, 255, 0.6);">
    <div style="padding: 20px;"> 
    <h1>Edite o seu seguro:</h1>
    <%= render 'form/pages' %>
    <hr>
    </div>
  </div>
</div>
